{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Note Form</title>
  </head>
  <body>
    <nav>
      <div>
        <a class="nav-menu" href="http://127.0.0.1:8000/lab-4/">NOTE</a>
        <a class="nav-menu" href="http://127.0.0.1:8000/lab-4/add-note">FORM</a>
        <a class="nav-menu" href="http://127.0.0.1:8000/lab-4/note-list">LIST</a>
      </div>
    </nav>
    <main>
      <div id="box">
        <div id="mid">
          <div id="mid-text">
            <h1>Note Form</h1><br>
            <form action="" id="users"
                  action="#" method="POST" target="_blank">
                {% csrf_token %}
                <table>
                  {{form}}
                </table><br>
                <input type="submit" value="Submit">
            </form>
        </div>
      </div>
    </main>
  </body>
</html>