{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Note</title>
  </head>
  <body>
    <nav>
      <div>
        <a class="nav-menu" href="http://127.0.0.1:8000/lab-4/">NOTE</a>
        <a class="nav-menu" href="http://127.0.0.1:8000/lab-4/add-note">FORM</a>
        <a class="nav-menu" href="http://127.0.0.1:8000/lab-4/note-list">LIST</a>
      </div>
    </nav>
    <main>
      <div id="box">
        <div id="mid-text">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">to</th>
                <th scope="col">from</th>
                <th scope="col">title</th>
                <th scope="col">message</th>
              </tr>
            </thead>
            <tbody>
              <!-- Loop from Note model -->
              {% for i in note %}
                <tr>
                  <td>{{i.to}}</td> 
                  <td>{{i.From}}</td>
                  <td>{{i.title}}</td>
                  <td>{{i.message}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </body>
</html>