{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'stylish.css' %}">
    <title>Note Form</title>
  </head>
  <body>
    <nav>
      <div>
        <a class="nav-menu" href="http://127.0.0.1:8000/lab-4/">NOTE</a>
        <a class="nav-menu" href="http://127.0.0.1:8000/lab-4/add-note">FORM</a>
        <a class="nav-menu" href="http://127.0.0.1:8000/lab-4/note-list">LIST</a>
      </div>
    </nav>
    <main>
        <!-- Loop from Note model -->
        {% for i in note %}
          <div class="card me-3" style="width: 18rem;">
            <img src="{% static 'jager.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">to: {{i.to}}</p>
              <p class="card-text">from: {{i.From}}</p>
              <p class="card-text">title: {{i.title}}</p>
              <p class="card-text">message: {{i.message}}</p>
            </div>
          </div>
        {% endfor %}
    </main>
  </body>
</html>