body {
    margin: 0;
    box-sizing: border-box;
    background-image: url('tantrul.jpg');
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    background-color: black;
}

.nav-menu {
    color: gold;
    text-decoration: none;
    margin: 0 10px;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

.nav-active {
    color: #fce035;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    background-size: cover;
    background-repeat: no-repeat;
}